<h4>Proposals Pending Approval</h4>

<ul class="collection">
<% @pending_proposals.each do |proposal| %>
	<li class="collection-item">
		<a href="#"><%= proposal.name %></a>  
		<a href="/proposals/<%= proposal.id %>/approve" class="waves-effect waves-light btn green">Approve</a>
		<a href="/proposals/<%= proposal.id %>/deny" class="waves-effect waves-light btn red">Deny</a>
	</li>
	<br>
<% end %>
</ul>
<br>
<h4>Approved proposals</h4>
<ul class="collection">
<% @approved_proposals.each do |proposal| %>
	<li class="collection-item">
		<%= proposal.name %> 
		<a href="/proposals/<%= proposal.id %>/reset" class="waves-effect waves-light btn red">Reset</a></li>
	<br>
<% end %>
</ul>
<br>
<h4>Denied Proposals</h4>
<ul class="collection">
<% @denied_proposals.each do |proposal| %>
	<li class="collection-item">
		<%= proposal.name %> 
		<a href="/proposals/<%= proposal.id %>/reset" class="waves-effect waves-light btn red">Reset</a></li></li>
	<br>
<% end %>
</ul>

