<!DOCTYPE html>
<html>
<head>
  <title>TechBuildsMiami</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li>
  <%= link_to('Edit profile', edit_user_registration_path) %>
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <% unless current_user == nil %>
    <% if current_user.has_role?(:non_profit) %>
      <li><%= link_to 'My Proposals', proposals_path %></li>
      <li><%= link_to 'My Projects', projects_path %>  
    <% end %>
  <% end %>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li>
  <%= link_to('Edit profile', edit_user_registration_path) %>
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <% unless current_user == nil %>
  <% if current_user.has_role?(:non_profit) %>
  <li><a href="/proposals">My Proposals</a></li>
  <li><a href="/projects">My Projects</a></li>
  <% end %>
  <% end %>
</ul>
<header class="header">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Tech Builds Miami</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Partners</a></li>
        <% if user_signed_in? %>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Get Started<i class="material-icons right">arrow_drop_down</i></a></li>

            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
          <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
	     	<li><a href="#">About</a></li>
        <li><a href="#">Partners</a></li>     
        <% if user_signed_in? %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Get Started<i class="material-icons right">arrow_drop_down</i></a></li>

            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
          <% end %>
      </ul>
    </div>
  </nav>
</header>  
<main>
<%= yield %>
</main>
<footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Tagline</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, has menandri maluisset cu, ne ceteros consequat eum. Vel eu nullam inciderint.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="blue-text text-darke" href="/">Tech For Miami</a>
      </div>
    </div>
  </footer>

</body>
</html>
